.trip-line {
  stroke: #34ace0 !important;
  stroke-width: 3px !important;

  &:hover {
    cursor: pointer;
  }
}

// svg.react-d3-map-core__container_svg g g g g g {
//   path#react-d3-map__mesh0.trip-line.mesh {
//     stroke: red;
//     stroke-width: 5px;
//   }
// }
